# DATA CONVERTED MYSQL TRANSACTION

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "Password@123",
        database = "phone_agg_trans",
        autocommit = True )
mycursor = mydb.cursor()

In [4]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER, name TEXT)''')

In [5]:
mycursor.execute('''CREATE TABLE IF NOT EXISTS users (id INTEGER, name TEXT)''')

In [2]:
from sqlalchemy import create_engine

In [20]:


engine = create_engine("mysql+pymysql://root:123{Password@123}@localhost:3306/phone_agg_trans")

In [24]:


from urllib.parse import quote_plus

password = "Password@123"
encoded_password = quote_plus(password)  

engine = create_engine(f"mysql+pymysql://root:{encoded_password}@localhost:3306/phone_agg_trans")

In [25]:
Agg_Trans.to_sql("Agg_Trans", con=engine, if_exists="append", index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_10272\2630290209.py:1: UserWarning: The provided table name 'Agg_Trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_Trans.to_sql("Agg_Trans", con=engine, if_exists="append", index=False)

5034

In [56]:
Agg_insur.to_sql("Agg_insur", con=engine, if_exists="append", index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_7000\2135888515.py:1: UserWarning: The provided table name 'Agg_insur' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_insur.to_sql("Agg_insur", con=engine, if_exists="append", index=False)

682

In [59]:
Agg_user.to_sql("Agg_user", con=engine, if_exists="append", index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_7000\2431479944.py:1: UserWarning: The provided table name 'Agg_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Agg_user.to_sql("Agg_user", con=engine, if_exists="append", index=False)

6732

# DATA CONVERTED MYSQL MAP

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "Password@123",
        database = "phonepe_map",
        autocommit = True )
mycursor = mydb.cursor()

In [76]:
map_trans.to_sql(name="map_trans",con=engine,if_exists="append",index=False)

20604

In [30]:
map_insur.to_sql(name="map_insur",con=engine,if_exists="append",index=False)

13876

In [26]:

from urllib.parse import quote_plus

password = "Password@123"
encoded_password = quote_plus(password)  

engine = create_engine(f"mysql+pymysql://root:{encoded_password}@localhost:3306/phonepe_map")

In [27]:
map_user.to_sql(name="map_user",con=engine,if_exists="append",index=False)

20608

#  DATA CONVERTED MYSQL Top

In [31]:

from urllib.parse import quote_plus

password = "Password@123"
encoded_password = quote_plus(password)  

engine = create_engine(f"mysql+pymysql://root:{encoded_password}@localhost:3306/phonepe_top")

In [34]:
Top_trans.to_sql(name="Top_trans",con=engine,if_exists="append",index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_10272\212511806.py:1: UserWarning: The provided table name 'Top_trans' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Top_trans.to_sql(name="Top_trans",con=engine,if_exists="append",index=False)

18295

In [36]:
Top_insur.to_sql(name="Top_insur",con=engine,if_exists="append",index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_10272\3571991896.py:1: UserWarning: The provided table name 'Top_insur' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Top_insur.to_sql(name="Top_insur",con=engine,if_exists="append",index=False)

12276

In [37]:
Top_user.to_sql(name="Top_user",con=engine,if_exists="append",index=False)

C:\Users\Hari\AppData\Local\Temp\ipykernel_10272\1524259897.py:1: UserWarning: The provided table name 'Top_user' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Top_user.to_sql(name="Top_user",con=engine,if_exists="append",index=False)

18296

# Aggregate

In [79]:
path = "C:\\Users\\Hari\\Desktop\\pip\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"

In [78]:
import os
path = "C:\\Users\\Hari\\Desktop\\pip\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [3]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\aggregated\transaction\country\india\state"
Agg_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'Transaction_type': [],'Transaction_count': [],'Transaction_amount': []}

for state in Agg_state_list:                                  
    state_path = os.path.join(path, state)
    year_list = os.listdir(state_path)

    for year in year_list:                                   
        year_path = os.path.join(state_path, year)
        quarter_list = os.listdir(year_path)

        for q in quarter_list:                                
            if q.endswith(".json"):
                file_path = os.path.join(year_path, q)
                with open(file_path, "r") as f:
                    data = json.load(f)
          
                    for item in data["data"]["transactionData"]:
                        name = item["name"]
                        count = item["paymentInstruments"][0]["count"]
                        amount = item["paymentInstruments"][0]["amount"]

                        clm['State'].append(state)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(q.strip(".json")))
                        clm['Transaction_type'].append(name)
                        clm['Transaction_count'].append(count)
                        clm['Transaction_amount'].append(amount)


Agg_Trans= pd.DataFrame(clm)
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5029,west-bengal,2024,4,Merchant payments,655100809,3.892862e+11
5030,west-bengal,2024,4,Peer-to-peer payments,493217788,1.361927e+12
5031,west-bengal,2024,4,Recharge & bill payments,76043195,5.753406e+10
5032,west-bengal,2024,4,Financial Services,2352084,8.472965e+08
5033,west-bengal,2024,4,Others,421806,5.053641e+08

In [ ]:
Agg_Trans.to_csv(r"C:\Users\Hari\Desktop\Agg_Trans.csv", index=False)

In [3]:
Agg_Trans.to_csv("Agg_Trans.csv", index=False)

In [4]:
import pandas as pd

Agg_Trans = pd.read_csv("Agg_Trans.csv")
Agg_Trans.to_excel("Agg_Trans.xlsx", index=False)

In [55]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\aggregated\insurance\country\india\state"
Agg_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'Insurance_type': [],'Insurance_count': [],'Insurance_amount': []}

for state in Agg_state_list:                                     
    state_path = os.path.join(path, state)
    year_list = os.listdir(state_path)

    for year in year_list:                                       
        year_path = os.path.join(state_path, year)
        quarter_list = os.listdir(year_path)

        for q in quarter_list:                                 
            if q.endswith(".json"):
                file_path = os.path.join(year_path, q)
                with open(file_path, "r") as f:
                    data = json.load(f)

                    for item in data["data"]["transactionData"]:
                        name = item["name"]
                        count = item["paymentInstruments"][0]["count"]
                        amount = item["paymentInstruments"][0]["amount"]

                        clm['State'].append(state)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(q.replace(".json","")))
                        clm['Insurance_type'].append(name)
                        clm['Insurance_count'].append(count)
                        clm['Insurance_amount'].append(amount)

Agg_insur = pd.DataFrame(clm)

Agg_insur

,State,Year,Quarter,Insurance_type,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,Insurance,6,1360.0
1,andaman-&-nicobar-islands,2020,3,Insurance,41,15380.0
2,andaman-&-nicobar-islands,2020,4,Insurance,124,157975.0
3,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
4,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,west-bengal,2023,4,Insurance,72712,100365562.0
678,west-bengal,2024,1,Insurance,79576,104987909.0
679,west-bengal,2024,2,Insurance,67048,89476633.0
680,west-bengal,2024,3,Insurance,77158,107451766.0
681,west-bengal,2024,4,Insurance,91719,120602777.0

In [58]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\aggregated\user\country\india\state"
Agg_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'user_type': [],'user_count': [],'user_percentage': []}

for state in Agg_state_list:                                  
    state_path = os.path.join(path, state)
    year_list = os.listdir(state_path)

    for year in year_list:                                    
        year_path = os.path.join(state_path, year)
        quarter_list = os.listdir(year_path)

        for q in quarter_list:                                
            if q.endswith(".json"):
                file_path = os.path.join(year_path, q)
                with open(file_path, "r") as f:
                    data = json.load(f)

                if (
                    "data" not in data or
                    data["data"] is None or
                    "usersByDevice" not in data["data"] or
                    data["data"]["usersByDevice"] is None
                ):
                    continue     
              

                for item in data["data"]["usersByDevice"]:
                    brand = item.get("brand")
                    count = item.get("count")
                    percent = item.get("percentage")

                    clm['State'].append(state)
                    clm['Year'].append(year)
                    clm['Quarter'].append(int(q.replace(".json", "")))
                    clm['user_type'].append(brand)
                    clm['user_count'].append(count)
                    clm['user_percentage'].append(percent)

Agg_user = pd.DataFrame(clm)
Agg_user

,State,Year,Quarter,user_type,user_count,user_percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

# MAP

In [1]:
path = "C:\\Users\\Hari\\Desktop\\pip\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"

In [6]:
import os
path =  "C:\\Users\\Hari\\Desktop\\pip\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"
map_state_list=os.listdir(path)
map_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [73]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\map\transaction\hover\country\india\state\\"
map_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'District': [],'transaction_type': [],'transaction_count': [],'transaction_amount': []}

for i in map_state_list:                 
    p_i = path + i + "/"
    years = os.listdir(p_i)

    for j in years:                     
        p_j = p_i + j + "/"
        quarters = os.listdir(p_j)

        for k in quarters:              
            if k.endswith(".json"):
                p_k = p_j + k
                with open(p_k, "r") as f:
                    D = json.load(f)

                hover_list = D["data"]["hoverDataList"]

                for z in hover_list:
                    district = z["name"]
                    metric = z["metric"][0]

                    type = metric["type"]
                    count = metric["count"]
                    amount = metric["amount"]

                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.replace(".json", "")))
                    clm['District'].append(district)
                    clm['transaction_type'].append(type)
                    clm['transaction_count'].append(count)
                    clm['transaction_amount'].append(amount)

map_trans = pd.DataFrame(clm)
map_trans

,State,Year,Quarter,District,transaction_type,transaction_count,transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,TOTAL,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,TOTAL,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,TOTAL,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,TOTAL,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,TOTAL,9395,2.394824e+07
...,...,...,...,...,...,...,...
20599,west-bengal,2024,4,alipurduar district,TOTAL,15875637,2.099251e+10
20600,west-bengal,2024,4,paschim bardhaman district,TOTAL,56616799,6.968735e+10
20601,west-bengal,2024,4,nadia district,TOTAL,65274337,1.079320e+11
20602,west-bengal,2024,4,birbhum district,TOTAL,36905213,5.778701e+10
20603,west-bengal,2024,4,purba medinipur district,TOTAL,67833775,1.142771e+11

In [29]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\map\insurance\hover\country\india\state\\"
map_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'District': [],'Insurance_type': [],'Insurance_count': [],'Insurance_amount': []}

for i in map_state_list:                       
    p_i = path + i + "/"
    years = os.listdir(p_i)

    for j in years:                             
        p_j = p_i + j + "/"
        quarters = os.listdir(p_j)

        for k in quarters:                      
            if k.endswith(".json"):
                p_k = p_j + k
                with open(p_k, "r") as f:
                    D = json.load(f)

                hover_list = D["data"]["hoverDataList"]

                for item in hover_list:
                    district = item["name"]

                    metric = item["metric"][0]     
                    ins_type = metric["type"]
                    count = metric["count"]
                    amount = metric["amount"]

                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.replace(".json", "")))
                    clm['District'].append(district)
                    clm['Insurance_type'].append(ins_type)
                    clm['Insurance_count'].append(count)
                    clm['Insurance_amount'].append(amount)


map_insur = pd.DataFrame(clm)
map_insur

,State,Year,Quarter,District,Insurance_type,Insurance_count,Insurance_amount
0,andaman-&-nicobar-islands,2020,2,south andaman district,TOTAL,3,795.0
1,andaman-&-nicobar-islands,2020,2,nicobars district,TOTAL,3,565.0
2,andaman-&-nicobar-islands,2020,3,north and middle andaman district,TOTAL,1,281.0
3,andaman-&-nicobar-islands,2020,3,south andaman district,TOTAL,35,13651.0
4,andaman-&-nicobar-islands,2020,3,nicobars district,TOTAL,5,1448.0
...,...,...,...,...,...,...,...
13871,west-bengal,2024,4,alipurduar district,TOTAL,1023,1613143.0
13872,west-bengal,2024,4,paschim bardhaman district,TOTAL,4945,7005851.0
13873,west-bengal,2024,4,nadia district,TOTAL,3807,5031294.0
13874,west-bengal,2024,4,birbhum district,TOTAL,1818,2423290.0
13875,west-bengal,2024,4,purba medinipur district,TOTAL,3559,4439061.0

In [18]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\map\user\hover\country\india\state\\"
map_state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'District': [],'registered_users': [],'app_opens': []}

for i in map_state_list:                           
    p_i = path + i + "/"
    years = os.listdir(p_i)

    for j in years:                                 
        p_j = p_i + j + "/"
        quarters = os.listdir(p_j)

        for k in quarters:                          
            if k.endswith(".json"):
                p_k = p_j + k
                with open(p_k, "r") as f:
                    D = json.load(f)

                hover_data = D.get("data", {}).get("hoverData", {})

                for district_name, values in hover_data.items():
                    reg_users = values.get("registeredUsers")
                    app_opens = values.get("appOpens")

                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quarter'].append(int(k.replace(".json", "")))
                    clm['District'].append(district_name)
                    clm['registered_users'].append(reg_users)
                    clm['app_opens'].append(app_opens)

map_user = pd.DataFrame(clm)
map_user

,State,Year,Quarter,District,registered_users,app_opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
20603,west-bengal,2024,4,alipurduar district,475688,31842355
20604,west-bengal,2024,4,paschim bardhaman district,1468252,80543469
20605,west-bengal,2024,4,nadia district,1861738,98740305
20606,west-bengal,2024,4,birbhum district,1114220,73465525
20607,west-bengal,2024,4,purba medinipur district,1717074,108350777

# Top

In [22]:
path = "C:\\Users\\Hari\\Desktop\\pip\\pulse\\data\\top\\transactio\\country\\india\\state\\"

In [21]:
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\top\transaction\country\india\state"  
top_state_list = os.listdir(path)
top_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [33]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\top\transaction\country\india\state\\"
top_state_list = os.listdir(path)

clm2 = {'State': [],'Year': [],'Quarter': [],'transaction_type': [],'transaction_count': [],'transaction_amount': [],'transaction_pincode': []}

for i in top_state_list:                            
    p_i = path + i + "/"
    if not os.path.isdir(p_i):                      
        continue
    year_list = os.listdir(p_i)

    for j in year_list:                             
        p_j = p_i + j + "/"
        if not os.path.isdir(p_j):
            continue
        quarter_list = os.listdir(p_j)

        for k in quarter_list:                      
            if not k.endswith(".json"):
                continue
            p_k = p_j + k
            with open(p_k, "r") as Data:
                D = json.load(Data)

            for z in (D.get("data", {}).get("districts") or []):
                clm2['transaction_type'].append(z["entityName"])
                clm2['transaction_count'].append(z["metric"]["count"])
                clm2['transaction_amount'].append(z["metric"]["amount"])
                clm2['transaction_pincode'].append(None)

                clm2['State'].append(i)
                clm2['Year'].append(j)
                clm2['Quarter'].append(int(k.replace(".json", "")))

            for z in (D.get("data", {}).get("pincodes") or []):
                clm2['transaction_type'].append(None)
                clm2['transaction_count'].append(z["metric"]["count"])
                clm2['transaction_amount'].append(z["metric"]["amount"])
                clm2['transaction_pincode'].append(z["entityName"])

                clm2['State'].append(i)
                clm2['Year'].append(j)
                clm2['Quarter'].append(int(k.replace(".json", "")))

Top_trans = pd.DataFrame(clm2)
Top_trans

,State,Year,Quarter,transaction_type,transaction_count,transaction_amount,transaction_pincode
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,None
1,andaman-&-nicobar-islands,2018,1,nicobars,528,1.139849e+06,None
2,andaman-&-nicobar-islands,2018,1,north and middle andaman,442,9.316631e+05,None
3,andaman-&-nicobar-islands,2018,1,None,1622,2.769298e+06,744101
4,andaman-&-nicobar-islands,2018,1,None,1223,2.238042e+06,744103
...,...,...,...,...,...,...,...
18290,west-bengal,2024,4,None,6753348,1.049483e+10,711101
18291,west-bengal,2024,4,None,6662715,8.009476e+09,700059
18292,west-bengal,2024,4,None,6575693,9.018748e+09,700039
18293,west-bengal,2024,4,None,6432082,8.996529e+09,734001
18294,west-bengal,2024,4,None,6313560,1.050259e+10,733134

In [35]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\top\insurance\country\india\state"
top_state_list = os.listdir(path)

clm2 = {'State': [],'Year': [],'Quater': [],'insurance_type': [],'insurance_count': [],'insurance_amount': [],'insurance_pincode': []}

for i in top_state_list:
    p_i = os.path.join(path, i)
    if not os.path.isdir(p_i):
        continue
    top_years = os.listdir(p_i)

    for j in top_years:
        p_j = os.path.join(p_i, j)
        if not os.path.isdir(p_j):
            continue
        quarter_list = os.listdir(p_j)

        for k in quarter_list:
            if k.endswith(".json"):    
                p_k = os.path.join(p_j, k)
                with open(p_k, "r") as Data:
                    D = json.load(Data)

                
                for z in D["data"].get("districts", []):
                    clm2['insurance_type'].append(z["entityName"])
                    clm2['insurance_count'].append(z["metric"]["count"])
                    clm2['insurance_amount'].append(z["metric"]["amount"])
                    clm2['insurance_pincode'].append(None)

                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quater'].append(int(k.replace(".json", "")))

                
                for z in D["data"].get("pincodes", []):
                    clm2['insurance_type'].append(None)
                    clm2['insurance_count'].append(z["metric"]["count"])
                    clm2['insurance_amount'].append(z["metric"]["amount"])
                    clm2['insurance_pincode'].append(z["entityName"])

                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quater'].append(int(k.replace(".json", "")))


Top_insur = pd.DataFrame(clm2)

Top_insur

,State,Year,Quater,insurance_type,insurance_count,insurance_amount,insurance_pincode
0,andaman-&-nicobar-islands,2020,2,nicobars,3,565.0,None
1,andaman-&-nicobar-islands,2020,2,south andaman,3,795.0,None
2,andaman-&-nicobar-islands,2020,2,None,3,565.0,744301
3,andaman-&-nicobar-islands,2020,2,None,2,513.0,744104
4,andaman-&-nicobar-islands,2020,2,None,1,282.0,744101
...,...,...,...,...,...,...,...
12271,west-bengal,2024,4,None,713,750354.0,711101
12272,west-bengal,2024,4,None,642,969634.0,700091
12273,west-bengal,2024,4,None,627,761501.0,700150
12274,west-bengal,2024,4,None,619,787836.0,700039
12275,west-bengal,2024,4,None,574,888613.0,700156

In [14]:
import pandas as pd
import json
import os

path = r"C:\Users\Hari\Desktop\pip\pulse\data\top\user\country\india\state"
state_list = os.listdir(path)

clm = {'State': [],'Year': [],'Quarter': [],'user_district': [],'user_pincode': [],'registered_users': []}

for state in state_list:
    p_state = os.path.join(path, state)
    if not os.path.isdir(p_state):
        continue
    year_list = os.listdir(p_state)

    for year in year_list:
        p_year = os.path.join(p_state, year)
        if not os.path.isdir(p_year):
            continue
        quarter_list = os.listdir(p_year)

        for q in quarter_list:
            if not q.endswith(".json"):
                continue
            p_q = os.path.join(p_year, q)
            with open(p_q, "r") as f:
                D = json.load(f)
            quarter = int(q.replace(".json", ""))

            for d in D["data"].get("districts", []):
                clm['State'].append(state)
                clm['Year'].append(year)
                clm['Quarter'].append(quarter)

                clm['user_district'].append(d["name"])
                clm['user_pincode'].append(None)
                clm['registered_users'].append(d["registeredUsers"])

            for p in D["data"].get("pincodes", []):
                clm['State'].append(state)
                clm['Year'].append(year)
                clm['Quarter'].append(quarter)

                clm['user_district'].append(None)
                clm['user_pincode'].append(p["name"])
                clm['registered_users'].append(p["registeredUsers"])


Top_user = pd.DataFrame(clm)
Top_user

,State,Year,Quarter,user_district,user_pincode,registered_users
0,andaman-&-nicobar-islands,2018,1,south andaman,None,5846
1,andaman-&-nicobar-islands,2018,1,north and middle andaman,None,632
2,andaman-&-nicobar-islands,2018,1,nicobars,None,262
3,andaman-&-nicobar-islands,2018,1,None,744103,1608
4,andaman-&-nicobar-islands,2018,1,None,744101,1108
...,...,...,...,...,...,...
18291,west-bengal,2024,4,None,733134,169596
18292,west-bengal,2024,4,None,700059,169448
18293,west-bengal,2024,4,None,711302,146034
18294,west-bengal,2024,4,None,700150,142151
18295,west-bengal,2024,4,None,711106,142077